html {
  padding: 0;
  margin: 0;
  font-family: monospace;
  color: #33ff33;
  background-color: black;
}
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #ffb000;
}
.content {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 3em;
}
