html {
  padding: 0;
  margin: 0;
  font-family: courier;
  color: #33ff33;
  background-color: #282828;
}
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #ffb000;
}
.content {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 1em;
  max-width: 640px;
  margin: 1.5em;
  max-height: 480px;
}
