<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{site.title}} - {{page.title}}</title>
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
  </head>
  <body>
    <header>
      <nav class="nav nav-header">
        <ul>
          {% for item in site.data.navigation %}
            <li><a href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <h1 class="{% if page.home %}home-title{% else %}header-title container{% endif %}">{% if page.home %}{{ site.title }}{% else %}{{ page.title }}{% endif %}</h1>
    </header>
    {{content}}
    <footer class="main-footer">
      <nav class="nav">
        <ul>
          {% for item in site.data.navigation %}
            <li><a href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </footer>
  </body>
</html>
