<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="/style.css">
    <script>
      var i = 0;
      var txt = "Further information soon.";
      var speed = 50;
      var on = false;

      function typeWriter() {
        if (i < txt.length) {
          document.getElementById("text").innerHTML += txt.charAt(i);
          i++;
          setTimeout(typeWriter, speed);
        }
      }
    </script>
  </head>
  <body onload="typeWriter()">
    <div id="text" class="content">
      {{content}}
    </div>
  </body>
</html>
